{% extends 'blog_base.html' %}

{% block title %}{{post.title}}{% endblock %}

{% block blog-content %}
    <h2 class="post-title">{{post.title}}</h2>
    <div class="wrapper">
        <p class="text">
            Posted on
            <time datetime="{{post.created|date:"c"}}">
            {{post.created|date}}
            </time>
        </p>
    <p class="text description">
        {{post.description}}
    </p>
    <p class="text">
        {{post.content|safe}}
    </p>
</article>
{% endblock %}