{% extends "hotel_base.html" %}

{% block header %}
<title>Listings | ViZit Myanmar</title>
{% endblock %}

{% block main-nav %}
	<li><a href="/">Home</a></li>
	<li class="active"><a href="/hotels/">Listings</a></li>
	<li><a href="/hotels/classifieds/">Classifieds</a></li>
	<li><a href="/blog/">Blog</a></li>
	<li><a href="/about/">Contact Us</a></li>
{% endblock %}

{% block content %}
<h3 class="title"><span class="pull-left">FEATURED LISTINGS</span></h3>
<div class="row-fluid">
	{% for hotel in latest_hotel_list %}
		<div class="featured-item">
			<div class="span3">
				<a href="/hotels/{{ hotel.id }}/"><img src="{{ MEDIA_URL }}img/hotels/{{ hotel.id }}/thumb.jpg" alt="{{ hotel.name }}" title="{{ hotel.name }}" class="img pull-left"></a>
			</div>
			<div class="span7">
				<strong>
					<a href="/hotels/{{ hotel.id }}/">{{ hotel.name }}</a>
					{% if hotel.tag %}
						<span class="label label-important">{{ hotel.tag }}</span>
					{% endif %}
				</strong>
<p> {{ hotel.description | truncatewords:60 }}<a class="link" href="/hotels/{{ hotel.id }}/">.. View Details »</a></p>
			</div>
		</div>
	{% endfor %}
</div>



{% endblock %}
