{% extends 'blog_base.html' %}

{% block header %}
    <title>ViZit Myanmar</title>
{% endblock %}

{% block main-nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/hotels/">Listings</a></li>
    <li><a href="/hotels/classifieds/">Classifieds</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li class="active"><a href="/about/">Contact Us</a></li>
{% endblock %}

{% block blog-content %}
    <h2 class="post-title">Contact</h2>
    <div class="wrapper">
        <p class="text">
           ViZitMyanmar@Gmail.com
       </p>
   </div>
{% endblock %}
