{% extends 'base.html' %}

    {% block header %}
    <title>Blog | ViZit Myanmar</title>
    {% endblock %}

{% block main-nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/hotels/">Listings</a></li>
    <li><a href="/hotels/classifieds/">Classifieds</a></li>
    <li class="active"><a href="/blog/">Blog</a></li>
    <li><a href="/about/">Contact Us</a></li>
{% endblock %}

    {% block body %}
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <div class="main_content">
                    <div class="blog-content">
                        <div class="row-fluid">
                            <div class="blog-post">
                                {%block blog-content %}
                                    blog body text
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


