



<form id="review_form" class="review_form well" action="/hotels/{{ hotel.id }}/rate/" method="POST">
	{% csrf_token %}
	<div class="alert alert-info"><h5>How would you rate this hotel?</h5>
		<span class="label label-info"><div id="star"></div></span>
	</div>
	<input type="text" id="user_name" name="user_name" placeholder="Name" required>
	<input type="text" id="user_city" name="user_city" placeholder="City originally from" required>
	<br>
	<input type="text" id="user_email" name="user_email" placeholder="E-mail"> <span>(Optional)</span>
	<br/>
	<textarea class="field span6" id="textarea" rows="5" name="comment" placeholder="Please write a short review..." required></textarea>
	<br/>
	<br/>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<script type="text/javascript">

	$(document).ready(function() {
		$('#star').raty({
		  cancel   : true,
		  cancelOff: 'cancel-off-big.png',
		  cancelOn : 'cancel-on-big.png',
		  half     : true,
		  size     : 24,
		  starHalf : 'star-half-big.png',
		  starOff  : 'star-off-big.png',
		  starOn   : 'star-on-big.png'
		});
		$('#star').raty({ path: '{{ STATIC_URL }}img' });
		$("input[name='score']").attr('required', true);
	});

</script>

